# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/
.swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# OS / Editor
.DS_Store
.idea/
.vscode/
*.swp
*~ 
